{% extends 'base.html' %}

{% block content %}

<form action="add/" method="POST">

    {% csrf_token %}  <!-- required for post methods -->

    First Number : <input type="number" name="num1"><br>
    Second Number : <input type="number" name="num2"><br>
    <input type="submit" value="Add">
</form>
{% endblock %}